/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');


/* Styles for the DrumKit project */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Pacifico, "Bagel Fat One";
}

body {
    background-color: #181818;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.nav-bar {
    width: 100%;
    height: 120px;
    padding: 10px 60px;
}

.title {
    position: absolute;
    text-align: center;
    color: #AFCBC7;
    font-size: 4rem;
}

.main-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-design {
    display: flex;
    width: 569px;
    height: 569px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 50%;
    background: #A2F7BD;
}

.sound-wave {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.wave {
    width: 17px;
    background: #000;
    border-radius: 50px;
}

.keys {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.key {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.07s ease;
}

.playing {
    transform: scale(1.1);
    border-color: #FFD700;
    box-shadow: 0 0 20px #FFD700;
}

.key-A {
    position: absolute;
    top: 173px;
    left: 616px;
    width: 170px;
    height: 170px;
    background: #EEC6C6;
}

.key-S {
    position: absolute;
    top: 312px;
    left: 347px;
    width: 298px;
    height: 298px;
    background: #8BCDCC;
}

.key-D {
    position: absolute;
    top: 635px;
    left: 447px;
    width: 237px;
    height: 237px;
    background: #E4EEB7;
}

.key-F {
    position: absolute;
    top: 163px;
    right: 586px;
    width: 170px;
    height: 170px;
    background: #EEC6C6;
}

.key-G {
    position: absolute;
    top: 303px;
    right: 286px;
    width: 341px;
    height: 341px;
    background: #E4EEB7;
}

.key-H {
    position: absolute;
    top: 665px;
    right: 457px;
    width: 236px;
    height: 236px;
    background: #8BCDCC;
}

.key kbd {
    font-size: 3rem;
    color: #181818;
    font-family: "Bagel Fat One", cursive;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.key .sound {
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 1.5rem;
    color: #181818;
    font-family: "Bagel Fat One", cursive;
    font-weight: bold;
}

.key:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s;
    border-color: #FFD700;
    box-shadow: 0 0 20px #FFD700;
}

.key:hover kbd {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.key:hover .sound {
    opacity: 1;
    transition: opacity 0.2s ease;
}