@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap");

:root {
    --bg-color: #212529;
    --box-color: #343A40;
    --primary-text-color: #000000;
    --number-color: #FFFFFF;
    --operator-color: #FFD83A;
    --delete-color: #FF6363;
    --sum-color: #66DA00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

button:active {
    opacity: 1;
}

input {
    border: none;
    text-align: right;
}